/*
Checkboxes in inline forms are misaligned because for an unknow reason they inherit a height of 40px !
This selector limit the height of inline checkboxes to 12px which is the perfect value to align them to
the other widgets in an inline form.
*/
/*
.radio-inline, .checkbox-inline {
    max-height: 12px;
}
*/
/*
@media (min-width: 768px) {
    .form-inline .radio input[type="radio"], 
    .form-inline .checkbox input[type="checkbox"] {
        float: left;
        margin-right: 5px;
    }
}
*/
/* http://jsbin.com/yolatixizi/edit?html,css,output
    input[type="checkbox"] {
    }
    .checkbox {
      margin: 30px 0 0 0;
    }
    */
/*http://www.bootply.com/FssaYf0PrH*/
/* http://stackoverflow.com/questions/24912377/bootstrap-form-horizontal-vertical-alignment-of-checkboxes-without-label-text */
/*.checkbox-empty label {display:inline} */

/* http://www.bootply.com/FssaYf0PrH */
/* http://stackoverflow.com/questions/24912377/bootstrap-form-horizontal-vertical-alignment-of-checkboxes-without-label-text */
/* CSS used here will be applied after bootstrap.css */
/*label{
    display:inline;
}*/
/*h3 {                          */
/*    vertical-align:middle;    */
/*    margin-top: 0.2em;        */
/*    background-color: #9c1a1a;*/
/*}                             */

/*h3{                */
/*margin-left: 0;    */
/*}                  */
/*                   */
/*.rowh {            */
/*    display: table;*/
/*}                  */

/*.rowh > div {           */
/*    float: none;        */
/*    display: table-cell;*/
/*}                       */

/*
.sbc-button
{
    background: #fcc1ec;
    border-color: #7b7c7b;
}
*/
/* Required field START */

.required-field-block {
    position: relative;   
}

.required-field-block .required-icon {
    display: inline-block;
    vertical-align: middle;
    margin: -0.25em 0.25em 0em;
    background-color: #E8E8E8;
    border-color: #E8E8E8;
    padding: 0.5em 0.8em;
    color: rgba(0, 0, 0, 0.65);
    text-transform: uppercase;
    font-weight: normal;
    border-radius: 0.325em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: background 0.1s linear;
    -moz-transition: background 0.1s linear;
    transition: background 0.1s linear;
    font-size: 75%;
}
    
.required-field-block .required-icon {
    background-color: transparent;
    position: absolute;
    top: 0em;
    right: 0em;
    z-index: 10;
    margin: 0em;
    width: 30px;
    height: 30px;
    padding: 0em;
    text-align: center;
    -webkit-transition: color 0.2s ease;
    -moz-transition: color 0.2s ease;
    transition: color 0.2s ease;
}

.required-field-block .required-icon:after {
    position: absolute;
    content: "";
    right: 1px;
    top: 1px;
    z-index: -1;
    width: 0em;
    height: 0em;
    border-top: 0em solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 0em solid transparent;
    border-right-color: inherit;
    -webkit-transition: border-color 0.2s ease;
    -moz-transition: border-color 0.2s ease;
    transition: border-color 0.2s ease;
}

.required-field-block .required-icon .text {
    color: #B80000;
    font-size: 26px;
    margin: -3px 0 0 12px;
}
/* Required field END */

/* Added by Andrey Suntsev, SBC. To support Stripe-based online giving app: */
/* The same thing can be done in (added to) bootstrap.min.css file */
/* Navigation buttons at bottom of a page */
/*
.nav-btn 
{
  width: 150px;
}
*/
/*
        .bgimage {
background-image: url('http://localhost/ods-make-one-time-donation/NewLibrary_1040x780.jpg');
background-size: 100%;
}
        .bgimage-inside {
padding-top: 37.36%; *//* this is actually (426/1140)*100 */
/*} 
*/                                                                                                                 
