    <div id="main">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="container-fluid">
                <div class="container body-content">
                    
<!--                <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>-->

<!--                <h3>Done tasks (<span data-bind="text: initialDesignationListObject_one().length"> </span>)</h3>-->
<!--                <ul data-bind="foreach: initialDesignationListObject_one">                                      -->
<!--                    <li data-bind="text: Desg_Code"></li>                                                       -->
<!--                </ul>                                                                                           -->

                    <div class="form-group">            
                        <div class="row spacer"/>
                    </div>
                                
<!--                <div class="col-md-12 form-group">       -->
<!--                    <legend>Giving related data:</legend>-->
<!--                </div>                                   -->

                    <!-- *** 1st Desg ***************************************************************************************** -->
                                
                    <div class="form-group">
                        
                        <div class="col-md-12 row">
                
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-3">
                                <small class="text-muted">Amount for <strong>1st</strong> designation*</small>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-6">
                                <small class="text-muted">Please, choose <strong>1st</strong> designation to donate to:</small>
                            </div>
                            
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                
                        <div class="col-md-12 row">
                
                            <div class="col-md-1 text-right">
                                <label for="amount_to_donate_1" class="control-label">Gift 1:</label>
                            </div>
                
                            <div class="col-md-3">
                                <div id="amount_to_donate_1_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input id="amount_to_donate_1" class="form-control" data-bind="value: donation_amount_to_desg_one, valueUpdate:'change', event:{keypress: $root.amount_to_donate_1_enterKeyProcessing}" placeholder="$$ for 1st Desg" type="text"></input>
                                        <div class="required-icon">
                                            <div class="text">*</div>
                                        </div>
                                    </div>
                                    <span id="amount_to_donate_1_ErrorMessage" class="help-block hidden">Please enter correct amount (in $$) you'd like to donate</span>
                                </div>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <label for="selector_desg_1" class="control-label">To:</label>
                            </div>
                
                            <div class="col-md-6">
                                <select id="selector_desg_1" class="form-control" data-bind="options: listOfDesignations_one, optionsText: 'Desg_Description', optionsValue : 'Desg_Code', value: selectedDesignation_one"></select>
                            </div>
                            
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                        
                        <!---------------------------------------------------------------------------------------->
                            
                        <div class="col-md-12 row" data-bind="visible: isSpecialDesgInputVisible_one()">
                
                            <div class="col-md-5 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-6">
                                <small class="text-muted">Please, specify your special instructions how to dispose 1st gift amount*</small>
                            </div>
                            
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                    
                        <div class="col-md-12 row" data-bind="visible: isSpecialDesgInputVisible_one()">
                
                            <div class="col-md-5 text-right">
                                <label for="other_1st_desg_description" class="control-label">Description:</label>
                            </div>
                
                            <div class="col-md-6">
                                <div id="other_1st_desg_description_Div" class="required-field-block">
                                    <input id="other_1st_desg_description" class="form-control" data-bind="value: other_1st_desg_description, valueUpdate:'change', event:{keypress: $root.other_1st_desg_description_enterKeyProcessing}" placeholder="Enter specific designation description (1st Gift)" type="text"></input>
                                    <span id="other_1st_desg_description_ErrorMessage" class="help-block hidden">Please enter specific designation description (1st Gift)</span>
                                </div>
                            </div>
                            
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                        
                        <!---------------------------------------------------------------------------------------->
                            
                    </div>

                    <!-- *** 2nd Desg ***************************************************************************************** -->
                    
                    <div class="form-group" data-bind="visible: isOtherDesgDivVisible_two()">
                        
                        <div class="col-md-12 row">
                
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-3">
                                <small class="text-muted">Amount for <strong>2nd</strong> designation*</small>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-6">
                                <small class="text-muted">Please, choose <strong>2nd</strong> designation to donate to:</small>
                            </div>
                
                            <div class="col-md-1">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                
                        <div class="col-md-12 row">
                
                            <div class="col-md-1 text-right">
                                <label for="amount_to_donate_2" class="control-label">Gift 2:</label>
                            </div>
                
                            <div class="col-md-3">
                                <div id="amount_to_donate_2_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input id="amount_to_donate_2" class="form-control" data-bind="value: donation_amount_to_desg_two, valueUpdate:'change', event:{keypress: $root.amount_to_donate_2_enterKeyProcessing}" placeholder="$$ for 2nd Desg" type="text"></input>
                                        <div class="required-icon">
                                            <div class="text">*</div>
                                        </div>
                                    </div>
                                    <span id="amount_to_donate_2_ErrorMessage" class="help-block hidden">Please enter correct amount (in $$) you'd like to donate</span>
                                </div>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <label for="selector_desg_2" class="control-label">To:</label>
                            </div>
                
                            <div class="col-md-6">
                                <select id="selector_desg_2" class="form-control" data-bind="options: listOfDesignations_two, optionsText: 'Desg_Description', optionsValue : 'Desg_Code', value: selectedDesignation_two"></select>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <button class="btn btn-info" data-bind="click: removeCurrentDesgControls_two">Remove</button>
                            </div>
                
                        </div>
                        
                        <!---------------------------------------------------------------------------------------->
                            
                        <div class="col-md-12 row" data-bind="visible: isSpecialDesgInputVisible_two()">
                                                                                                      
                            <div class="col-md-5 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-6">
                                <small class="text-muted">Please, specify your special instructions how to dispose 2nd gift amount*</small>
                            </div>
                            
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                    
                        <div class="col-md-12 row" data-bind="visible: isSpecialDesgInputVisible_two()">
                
                            <div class="col-md-5 text-right">
                                <label for="other_1st_desg_description" class="control-label">Description:</label>
                            </div>
                
                            <div class="col-md-6">
                                <div id="other_2nd_desg_description_Div" class="required-field-block">
                                    <input id="other_2nd_desg_description" class="form-control" data-bind="value: other_2nd_desg_description, valueUpdate:'change', event:{keypress: $root.other_2nd_desg_description_enterKeyProcessing}" placeholder="Enter specific designation description (2nd Gift)" type="text"></input>
                                    <div class="required-icon">
                                        <div class="text">*</div>
                                    </div>
                                    <span id="other_2nd_desg_description_ErrorMessage" class="help-block hidden">Please enter specific designation description (2nd Gift)</span>
                                </div>
                            </div>
                            
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                        
                        <!---------------------------------------------------------------------------------------->
                        
                    </div>

                    <!-- *** 3rd Desg ***************************************************************************************** -->
                    
                    <div class="form-group" data-bind="visible: isOtherDesgDivVisible_three()">
                        
                        <div class="col-md-12 row">
                
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-3">
                                <small class="text-muted">Enter amount of your gift for <strong>3rd</strong> designation*</small>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-6">
                                <small class="text-muted">Please, choose <strong>3rd</strong> designation to donate to:</small>
                            </div>
                
                            <div class="col-md-1">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                
                        <div class="col-md-12 row">
                
                            <div class="col-md-1 text-right">
                                <label for="amount_to_donate_3" class="control-label">Gift 3:</label>
                            </div>
                
                            <div class="col-md-3">
                                <div id="amount_to_donate_3_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                    <div class="input-group">
                                        <span class="input-group-addon">$</span>
                                        <input id="amount_to_donate_3" class="form-control" data-bind="value: donation_amount_to_desg_three, valueUpdate:'change', event:{keypress: $root.amount_to_donate_3_enterKeyProcessing}" placeholder="$$ for 3rd Desg" type="text"></input>
                                        <div class="required-icon">
                                            <div class="text">*</div>
                                        </div>
                                    </div>
                                    <span id="amount_to_donate_3_ErrorMessage" class="help-block hidden">Please enter correct amount (in $$) you'd like to donate</span>
                                </div>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <label for="selector_desg_3" class="control-label">To:</label>
                            </div>
                
                            <div class="col-md-6">
                                <select id="selector_desg_3" class="form-control" data-bind="options: listOfDesignations_three, optionsText: 'Desg_Description', optionsValue : 'Desg_Code', value: selectedDesignation_three"></select>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <button class="btn btn-info" data-bind="click: removeCurrentDesgControls_three">Remove</button>
                            </div>
                
                        </div>
                    
                        <!---------------------------------------------------------------------------------------->

                        <div class="col-md-12 row" data-bind="visible: isOtherDesgDivVisible_three() && isSpecialDesgInputVisible_three()">
                
                            <div class="col-md-5 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-6">
                                <small class="text-muted">Please, specify your special instructions how to dispose 3rd gift amount*</small>
                            </div>
                            
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                    
                        <div class="col-md-12 row" data-bind="visible: isOtherDesgDivVisible_three() && isSpecialDesgInputVisible_three()">
                
                            <div class="col-md-5 text-right">
                                <label for="other_3rd_desg_description" class="control-label">Description:</label>
                            </div>
                
                            <div class="col-md-6">
                                <div id="other_3rd_desg_description_Div" class="required-field-block">
                                    <input id="other_3rd_desg_description" class="form-control" data-bind="value: other_3rd_desg_description, valueUpdate:'change', event:{keypress: $root.other_3rd_desg_description_enterKeyProcessing}" placeholder="Enter specific designation description (3rd Gift)" type="text"></input>
                                    <div class="required-icon">
                                        <div class="text">*</div>
                                    </div>
                                    <span id="other_3rd_desg_description_ErrorMessage" class="help-block hidden">Please enter specific designation description (3rd Gift)</span>
                                </div>
                            </div>
                            
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                    </div>

                    <!-- *** Total: ******************************************************************************************* -->
                    
                    <div class="form-group">
                        <div class="col-md-12 row">
                    
                            <div class="col-md-4">
                                <p class="grandTotal">
                                    <h2 style="margin-top: -0.19em;">Total: <span data-bind='text: formatCurrency(grandTotal())'></span></h2>
                                </p>
                            </div>
                
                            <div class="col-md-1 text-right">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                            <div class="col-md-2" data-bind="visible: isDonateToOtherDesgButtonVisible()">
                                <button class="btn btn-info" style="color: black" data-bind="click: toggleVisibility">Split your gift among up to 3 designations</button>
                            </div>
                
                            <div class="col-md-5">
                                <small class="text-muted">&nbsp</small>
                            </div>
                
                        </div>
                    </div>

                    <!-- ****************************************************************************************************** -->
                    
                    <div class="form-group">
                            <hr></hr>
                    </div>
                    
                    <div class="form-group">
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <label for="selector_reason_to_donate" class="control-label">What prompted you to make this gift?</label>
                                </div>
                                <div class="col-md-9">
                                    <select id="selector_reason_to_donate" class="form-control" data-bind="options: listOfReasonsToDonate, optionsText: 'reason_description', optionsValue : 'REASON_CODE', value: selectedReasonToDonate"></select>
                                </div>
                            </div>
                        </div>
                        
                        <!------------------------------------------------------------------------------------------->
                        
                        <div class="row" data-bind="visible: isReasonToDonateEqualMailing()">
                            <div class="col-md-12">
                
                                <div class="col-md-3 text-right">
                                    <small class="text-muted">&nbsp</small>
                                </div>
                    
                                <div class="col-md-9">
                                    <small class="text-muted">Please, specify a code from the Mail's envelop:</small>
                                </div>
                            
                            </div>
                        </div>
                    
                        <div class="row" data-bind="visible: isReasonToDonateEqualMailing()">
                            <div class="col-md-12">
                
                                <div class="col-md-3 text-right">
                                    <label for="reasonToDonateEnvelopCode" class="control-label">Code:</label>
                                </div>
                    
                                <div class="col-md-9">
                                    <div id="reasonToDonateEnvelopCode_Div" class="required-field-block">
                                        <input id="reasonToDonateEnvelopCode" class="form-control" data-bind="value: reasonToDonateEnvelopCode, valueUpdate:'change', event:{keypress: $root.reasonToDonateEnvelopCode_enterKeyProcessing}" placeholder="Specify a code from the Mail's envelop" type="text"></input>
<!--                                    <div class="required-icon">-->
<!--                                        <div class="text">*</div>-->
<!--                                    </div>-->
<!--                                    <span id="reasonToDonateEnvelopCode_ErrorMessage" class="help-block hidden">Please, specify a code from the Mail's envelop:</span>-->
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                        
                    </div>
                        
                    <!-- ****************************************************************************************************** -->
                    
                    <div class="form-group">
<!--                    <div class="control-group">-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label for="cb_isThisPledgePayment" class="control-label">This gift is a payment on a pledge</label>
                                    </div>
                    
<!--                                <div class="col-md-9 checkbox">-->
                                    <div class="col-md-9">
<!--                                    <input id="cb_isThisPledgePayment" type="checkbox" data-bind="checked: isThisPledgePayment, click: toggleThisPledgePayment"/>-->
                                        <input id="cb_isThisPledgePayment" type="checkbox" data-bind="checked: isThisPledgePayment"/>
                                    </div>
                                </div>
                            </div>
                    
                            <div class="row">
                                <div class="col-md-12">
                    
                                    <div class="col-md-3">
                                        <label for="cb_isThisGiftAnonymous" class="control-label">I would like my gift to be anonymous</label>
                                    </div>
                    
<!--                                <div class="col-md-9 checkbox">-->
                                    <div class="col-md-9">
<!--                                    <input id="cb_isThisGiftAnonymous" type="checkbox" data-bind="checked: isThisGiftAnonymous, click: toggleThisGiftAnonymous"/>-->
                                        <input id="cb_isThisGiftAnonymous" type="checkbox" data-bind="checked: isThisGiftAnonymous"/>
                                    </div>
                                </div>
                            </div>
                    
<!--                    </div>-->
                    </div>
<!--                                                                                                                                                                 -->
                    <!-- ****************************************************************************************************** -->
                    
                    <div class="form-group">
                            <hr></hr>
                    </div>
                    
                    <div class="form-group">
                        <div class="control-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label for="comment">Additional instructions to your Gift:</label>
                                    </div>
                                    <div class="col-md-9">
                                        <textarea id="comment" class="form-control" rows="2" maxlength="1000" data-bind="value: giftComments"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- ****************************************************************************************************** -->
                    
                    <div class="form-group"><hr></hr></div>
                    
                    <div class="form-group">
                        <div class="control-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-3">
                                        <label class="control-label">This gift is:</label>
                                    </div>
                                    <div class="col-md-9 btn-group" data-toggle="buttons">
                                        <label class="col-md-4 btn btn-default" data-bind="css: { active: radioSelectedOptionValue() == 'in_memory_honor_NONE'}">
                                            <input type="radio" name="radio_HM_of" id="radio_not_in_memory_or_honor_of" value="in_memory_honor_NONE" data-bind="bsChecked: radioSelectedOptionValue">Not in Memory/Honor of</input>
                                        </label>
                                        <label class="col-md-4 btn btn-default" data-bind="css: { active: radioSelectedOptionValue() == 'in_memory_honor_HONOR'}">
                                            <input type="radio" name="radio_HM_of" id="radio_in_honor_of" value="in_memory_honor_HONOR" data-bind="bsChecked: radioSelectedOptionValue">In Honor of</input>
                                        </label>
                                        <label class="col-md-4 btn btn-default" data-bind="css: { active: radioSelectedOptionValue() == 'in_memory_honor_MEMORY'}">
                                            <input type="radio" name="radio_HM_of" id="radio_in_memory_of" value="in_memory_honor_MEMORY" data-bind="bsChecked: radioSelectedOptionValue">In Memory of</input>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
<!--                <div class="form-group">                                                                                                                                                                               -->
<!--                    <div class="control-group">                                                                                                                                                                        -->
<!--                        <label class="control-label">This gift is:</label>                                                                                                                                             -->
<!--                        <div class="form-group"></div>                                                                                                                                                                 -->
<!--                        <div class="col-md-9 btn-group" data-toggle="radio">                                                                                                                                           -->
<!--                            <label class="col-md-3 radio-inline" data-bind="css: { active: radioSelectedOptionValue() == 'in_memory_honor_HONOR'}">                                                                    -->
<!--                                <input type="radio" name="radio_HM_of" id="radio_in_honor_of" value="in_memory_honor_HONOR" data-bind="bsChecked: radioSelectedOptionValue">In Honor of</input>                        -->
<!--                            </label>                                                                                                                                                                                   -->
<!--                            <label class="col-md-3 radio-inline" data-bind="css: { active: radioSelectedOptionValue() == 'in_memory_honor_MEMORY'}">                                                                   -->
<!--                                <input type="radio" name="radio_HM_of" id="radio_in_memory_of" value="in_memory_honor_MEMORY" data-bind="bsChecked: radioSelectedOptionValue">In Memory of</input>                     -->
<!--                            </label>                                                                                                                                                                                   -->
<!--                            <label class="col-md-3 radio-inline" data-bind="css: { active: radioSelectedOptionValue() == 'in_memory_honor_NONE'}">                                                                     -->
<!--                                <input type="radio" name="radio_HM_of" id="radio_not_in_memory_or_honor_of" value="in_memory_honor_NONE" data-bind="bsChecked: radioSelectedOptionValue">Not in Memory/Honor of</input>-->
<!--                            </label>                                                                                                                                                                                   -->
<!--                        </div>                                                                                                                                                                                         -->
<!--                    </div>                                                                                                                                                                                             -->
<!--                </div>                                                                                                                                                                                                 -->
                    
                    <div class="form-group" data-bind="visible: showTributeInfo()">
                        
                        <div class="control-group">
                            <div class="row">
                                <div class="col-md-12">
                    
                                    <div class="col-md-4">
                                        <small class="text-muted">Tribute <strong>First</strong> Name:</small>
                                    </div>
                                    <div class="col-md-4">
                                        <small class="text-muted">Tribute <strong>Last</strong> Name:</small>
                                    </div>
                                    <div class="col-md-4">
                                        <small class="text-muted">Tribute's <strong>relationship</strong> to you:</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="control-group">
                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <div class="col-md-4">
                                        <div id="tributeFirstNameEntered_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                            <input id="tributeFirstNameEntered" class="form-control" data-bind="value: tributeFirstName, valueUpdate:'change'" placeholder="Tribute First Name" type="text"></input>
                                            <div class="required-icon">
                                                <div class="text">*</div>
                                            </div>
                                            <span id="tributeFirstNameEntered_ErrorMessage" class="help-block hidden">Please enter First Name of the Tribute Person</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="tributeLastNameEntered_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                            <input id="tributeLastNameEntered" class="form-control" data-bind="value: tributeLastName, valueUpdate:'change'" placeholder="Tribute Last Name" type="text"></input>
                                            <div class="required-icon">
                                                <div class="text">*</div>
                                            </div>
                                            <span id="tributeLastNameEntered_ErrorMessage" class="help-block hidden">Please enter Last Name of the Tribute Person</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="tributeRelationToDonorEntered_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                            <input id="tributeRelationToDonorEntered" class="form-control" data-bind="value: tributeRelationToDonor, valueUpdate:'change'" placeholder="Tribute's relationship to you" type="text"></input>
                                            <div class="required-icon">
                                                <div class="text">*</div>
                                            </div>
                                            <span id="tributeRelationToDonorEntered_ErrorMessage" class="help-block hidden">Please enter Tribute's Relationship to you</span>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    
                        <div class="form-group"></div>
                            
                        <div class="control-group">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="col-md-5">
                                        <label for="cb_mailLetterOnDonorBehalf" class="control-label">Mail a letter on my behalf</label>
                                    </div>
                    
                                    <div class="col-md-7 checkbox">
                                        <input id="cb_mailLetterOnDonorBehalf" type="checkbox" data-bind="checked: mailLetterOnDonorBehalf"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="control-group" data-bind="visible: mailLetterOnDonorBehalf">
                            <div class="row">
                                <div class="col-md-12">
                    
                                    <div class="col-md-6">
                                        <small class="text-muted"><strong>Person</strong> to be notified:</small>
                                    </div>
                                    <div class="col-md-6">
                                        <small class="text-muted">Person's <strong>E-Mail</strong> to be sent to:</small>
                                    </div>
                        
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-md-12">
                        
                                    <div class="col-md-6">
                                        <div id="mailBehalf_PersonToNotifyEntered_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                            <input id="mailBehalf_PersonToNotifyEntered" class="form-control" data-bind="value: mailBehalf_PersonToNotify, valueUpdate:'change'" placeholder="Person to be notified" type="text"></input>
                                            <div class="required-icon">
                                                <div class="text">*</div>
                                            </div>
                                            <span id="mailBehalf_PersonToNotifyEntered_ErrorMessage" class="help-block hidden">Please enter First and Last names of a Person to be notified</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <input id="mailBehalf_EMailEntered" class="form-control" data-bind="value: mailBehalf_EMail, valueUpdate:'change'" placeholder="Person's E-Mail to be sent to" type="text"></input>
                                    </div>
                                    
                                </div>
                            </div>
                        
<!--                        <div class="col-xs-12 text-right">-->
<!--                            &nbsp;                        -->
<!--                        </div>                            -->
                        
                            <div class="row">
                                <div class="col-md-12">
                                    
                                    <div class="col-md-4">
                                        <small class="text-muted">Select <strong>country</strong>:</small>
                                    </div>
                                    <div class="col-md-4">
                                        <small class="text-muted">Enter Address <strong>Line</strong> 1:</small>
                                    </div>
                                    <div class="col-md-4">
                                        <small class="text-muted">Enter Address <strong>Line</strong> 2:</small>
                                    </div>
                        
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-md-12">
                        
                                    <div class="col-md-4">
                                        <div id="selector_mailBehalf_Country_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                            <select id="selector_mailBehalf_Country" class="form-control" data-bind="options: mailBehalf_ListOfCountries, optionsText: 'natn_desc', optionsValue : 'natn_code', value: mailBehalf_CountrySelected"></select>
                                            <div class="required-icon">
                                                <div class="text">*</div>
                                            </div>
                                            <span id="selector_mailBehalf_Country_ErrorMessage" class="help-block hidden">Please select a country</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div id="mailBehalf_AddressLine_1_Entered_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                            <input id="mailBehalf_AddressLine_1_Entered" class="form-control" data-bind="value: mailBehalf_AddressLine_1, valueUpdate:'change'" placeholder="Address Line 1" type="text"></input>
                                            <div class="required-icon">
                                                <div class="text">*</div>
                                            </div>
                                            <span id="mailBehalf_AddressLine_1_Entered_ErrorMessage" class="help-block hidden">Please specify Line 1 of the person's mail Address</span>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <input id="mailBehalf_AddressLine_2_Entered" class="form-control" data-bind="value: mailBehalf_AddressLine_2, valueUpdate:'change'" placeholder="Address Line 2" type="text"></input>
                                    </div>
                        
                                </div>
                            </div>
                        
                            <div class="row">
                                <div class="col-md-12">
                        
                                    <div class="col-md-4">
                                        <small class="text-muted">Enter <strong>City:</strong></small>
                                    </div>
                            
                                    <div class="col-md-4">
                                        <small class="text-muted">Select <strong>State</strong>/Region/Territory:</small>
                                    </div>
                            
                                    <div class="col-md-4">
                                        <small class="text-muted">Enter <strong>ZIP</strong>/Postal Code:</small>
                                    </div>
                                   
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                        
                                    <div class="col-md-4">
                                        <div id="mailBehalf_City_Entered_Div" class="required-field-block"> <!-- http://bootsnipp.com/snippets/featured/required-field-styling-with-tooltip -->
                                            <input id="mailBehalf_City_Entered" class="form-control" data-bind="value: mailBehalf_City, valueUpdate:'change'" placeholder="City" type="text"></input>
                                            <div class="required-icon">
                                                <div class="text">*</div>
                                            </div>
                                            <span id="mailBehalf_City_Entered_ErrorMessage" class="help-block hidden">Please specify City of the person's mail Address</span>
                                        </div>
                                    </div>
                            
                                    <div class="col-md-4">
                                        <select id="selector_mailBehalf_Region" class="form-control" data-bind="options: filteredListOfRegions, optionsText: 'region_desc', optionsValue : 'region_code', value: mailBehalf_RegionSelected"></select>
        <!--                            <ul data-bind="foreach: filteredListOfRegions">-->
        <!--                                <li data-bind="text: region_desc"></li>    -->
        <!--                            </ul>                                          -->
                                    </div>
                            
                                    <div class="col-md-4">
                                        <input id="mailBehalf_ZIP_Entered" class="form-control" data-bind="value: mailBehalf_ZIP, valueUpdate:'change'" placeholder="Enter ZIP/Postal Code" type="text"></input>
                                    </div>
                                    
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                    <!-- ****************************************************************************************************** -->
                    
                    <div class="form-group">
                        <hr></hr>
                    </div>
                    
                    <div class="form-group"></div>
                        
                    <div class="form-group">
                        <div class="control-group">
                            <div class="row">
                                <div class="col-md-12 text-left">
                                    <div class="col-md-5">
                                        <label for="cb_makeSoftCreditToSomeone" class="control-label">Would you like your spouse to receive soft credit for this gift?</label>
                                    </div>
                    
                                    <div class="col-md-7 checkbox">
                                        <input id="cb_makeSoftCreditToSomeone" type="checkbox" data-bind="checked: makeSoftCreditToSomeone"/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="control-group" data-bind="visible: makeSoftCreditToSomeone">
                        
                        <div class="row">
                            <div class="col-md-12">
                    
                                <div class="col-md-6">
                                    <small class="text-muted">Spouse <strong>First Name</strong>:</small>
                                </div>
                                <div class="col-md-6">
                                    <small class="text-muted">Spouse <strong>Last Name</strong>:</small>
                                </div>
<!--                            <div class="col-md-4">                                                            -->
<!--                                <small class="text-muted">Person's <strong>affilation</strong> to you:</small>-->
<!--                            </div>                                                                            -->
                    
                            </div>    
                        </div>
                    
                        <div class="row">
                            <div class="col-md-12">
                        
                                <div class="col-md-6">
                                    <div id="softCredit_PersonFirstNameEntered_Div" class="required-field-block">
                                        <input id="softCredit_PersonFirstNameEntered" class="form-control" data-bind="value: softCredit_PersonFirstName, valueUpdate:'change'" placeholder="Spouse First Name" type="text"></input>
                                        <div class="required-icon">
                                            <div class="text">*</div>
                                        </div>
                                        <span id="softCredit_PersonFirstNameEntered_ErrorMessage" class="help-block hidden">Please, specify your spouse First Name</span>
                                    </div>
                                </div>
                                
                                <div class="col-md-6">
                                    <div id="softCredit_PersonLastNameEntered_Div" class="required-field-block">
                                        <input id="softCredit_PersonLastNameEntered" class="form-control" data-bind="value: softCredit_PersonLastName, valueUpdate:'change'" placeholder="Spouse Last Name" type="text"></input>
                                        <div class="required-icon">
                                            <div class="text">*</div>
                                        </div>
                                        <span id="softCredit_PersonLastNameEntered_ErrorMessage" class="help-block hidden">Please, specify your spouse Last Name</span>
                                    </div>
                                </div>
                                    
<!--                            <div class="col-md-4">                                                                                                                                                                                  -->
<!--                                <input id="softCredit_PersonAffilationEntered" class="form-control" data-bind="value: softCredit_PersonAffilation, valueUpdate:'change'" placeholder="Spouse affilation to you" type="text"></input>-->
<!--                            </div>                                                                                                                                                                                                  -->
                    
                            </div>    
                        </div>
                        
                    </div>
                    
                    <!-- ****************************************************************************************************** -->
                    
<!--                <div class="form-group">-->
<!--                    <hr></hr>           -->
<!--                </div>                  -->
                    
                    <div class="form-group"></div>
                        
                    <!-- ****************************************************************************************************** -->
                    
                    <div class="row text-left">
                        <div class="span12" style="color: red;">
                          <h4><em>* - Required fields</em></h4>
                        </div>
                    </div>
                        
                    <!-- ****************************************************************************************************** -->
                        
<!--                <div class="row text-right">                                                                                                                                                                      -->
<!--                    <div class="span12">                                                                                                                                                                          -->
<!--                        <button type="button" class="btn btn-info .navbar-right" style="color: black; font-weight: bold;" data-bind="text: buttonNextPageLabel, click: gotoNextPage, clickBubble: false"></button>-->
<!--                    </div>                                                                                                                                                                                        -->
<!--                </div>                                                                                                                                                                                            -->
                            
                    <div class="row text-left">
                        <div class="span12">
                            <div class="row">
                                <div class="col-md-10"/>
                                <div class="col-md-2 text-right">
<!--                                <input type="button" class="form-control btn-secondary text-left" data-bind="value: buttonNextPageLabel(), style: { color: 'black', fontWeight: 'bold', background: '#f4ebdf', borderColor: '#bebdbd' }, click: gotoNextPage, clickBubble: false"/>-->
                                    <input type="button" class="sbcNavigationButtonsDesign form-control btn-secondary text-left" data-bind="value: buttonNextPageLabel(), click: gotoNextPage, clickBubble: false"/>
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>
